<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>

    <!-- Home Button -->
    <div class="home-button">
        <a href="{{ url_for('routes.home') }}">&#x2190; Home</a>
    </div>

    <!-- Content Section -->
    <section class="about-content">
        <div class="logo-about-us">
            <img src="static/assets/logo-oncomammo.png" alt="Product Logo">
        </div>
        <div class="text-content-about-us">
            OncoMammo is dedicated to advancing breast cancer detection through cutting-edge analysis of histopathology images, providing accurate, reliable, and accessible tools to support early diagnosis and improved patient outcomes. Our mission at OncoMammo is to leverage advanced technologies in histopathology imaging to aid healthcare professionals in the early detection and diagnosis of breast cancer, empowering better patient care and outcomes.</p>
         </div>
    </section>

    <!-- Footer -->
    <footer>
        <div class="footer-content">
            <div class="oncomammo-footer">
                <img src="static/assets/logo-oncomammo.png" alt="logo">
                <h3>ONCOMAMMO</h3>
            </div>
            <div class="address-footer">
                <img src="static/assets/loc-symbol.png" alt="location symbol">
                <p>Grafika No.2, Senolowo, Sinduadi, Kec. Mlati, Kabupaten Sleman, Daerah Istimewa Yogyakarta 55281</p>
            </div>
               <p>oncomammo@gmail.com</p>
        </div>
    </footer>

</body>
</html>