<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Breast Cancer Staging</title>
  <link rel="stylesheet" href="styles.css">
</head>
<body>
  <!-- Home Button -->
  <div class="home-button">
    <a href="web_html.html">&#x2190; Home</a>
</div>

  <main>
    <section class="stages">
      <h2>Breast Cancer</h2>
      <div class="stage-icons">
        <img src="breast-cancer-stages.png" alt="breast cancer stages">
      </div>
      <p class="info-text">Histopathology images are a crucial tool in breast cancer detection, providing detailed insights into cellular structures and enabling pathologists to diagnose and assess the severity of the disease. Advanced methods such as deep learning have revolutionized breast cancer detection by analyzing histopathology images, offering automated and precise identification of malignant patterns. The use of digital histopathology images in breast cancer research has facilitated the development of robust diagnostic systems, enhancing early detection and improving treatment outcomes.</p>
    </section>
  
      <div class="cancer-detection-result">
        <h2>Result</h2>
        <button type="button">BREAST CANCER</button>
      </div>
  </section>  
  </main>

  <!-- Footer -->
  <footer>
    <div class="footer-content">
        <div class="oncomammo-footer">
            <img src="logo-oncomammo.png" alt="logo">
            <h3>ONCOMAMMO</h3>
        </div>
        <div class="address-footer">
            <img src="loc-symbol.png" alt="location symbol">
            <p>Grafika No.2, Senolowo, Sinduadi, Kec. Mlati, Kabupaten Sleman, Daerah Istimewa Yogyakarta 55281</p>
        </div>
           <p>oncomammo@gmail.com</p>
    </div>
</footer>
</body>
</html>
