<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Breast Cancer Staging</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
  <!-- Home Button -->
  <div class="home-button">
    <a href="web_html.html">&#x2190; Home</a>
</div>

  <main>
    <section class="stages">
      <h2>Breast Cancer</h2>
      <div class="stage-icons">
        <img src="static/assets/breast-cancer-stages.png" alt="breast cancer stages">
      </div>
      <p class="info-text">Histopathology images are a crucial tool in breast cancer detection, providing detailed insights into cellular structures and enabling pathologists to diagnose and assess the severity of the disease. Advanced methods such as deep learning have revolutionized breast cancer detection by analyzing histopathology images, offering automated and precise identification of malignant patterns. The use of digital histopathology images in breast cancer research has facilitated the development of robust diagnostic systems, enhancing early detection and improving treatment outcomes.</p>
    </section>

    <section class="upload">
      <div class="warning">
          <div class="warning-img">
              <img src="static/assets/warning.png" alt="warning sign">
          </div>
          <div class="warning-text">
              <p>Please be aware that by uploading an image to the server, you consent to the storage and processing of your data in accordance with our privacy policy. The medical images uploaded to this platform are for informational purposes only and are not intended for diagnostic use. These images should not be used as a substitute for professional medical advice, diagnosis, or treatment. Always consult with a qualified healthcare provider regarding any medical concerns or decisions based on the images. We do not take responsibility for any interpretation or decisions made based on the uploaded images.</p>
          </div>
      </div>
  
      <div class="image-upload">
          <p>Examples of Histopathology Image:</p>
          <div class="histopathology-examples">
              <div class="example"><img src="static/assets/examples-1.png" alt="histopathology image"></div>
              <div class="example"><img src="static/assets/examples-2.png" alt="histopathology image"></div>
              <div class="example"><img src="static/assets/examples-3.png" alt="histopathology image"></div>
          </div>
          <p>Upload Your Image</p>
          <form action="/predict" method="post" enctype="multipart/form-data">
            <input type="file" name="file" />
            <button type="submit">Submit</button>
          </form>
      </div>
  </section> 
  </main>

  <footer>
    <div class="footer-content">
        <div class="oncomammo-footer">
            <img src="static/assets/logo-oncomammo.png" alt="logo">
            <h3>ONCOMAMMO</h3>
        </div>
        <div class="address-footer">
            <img src="static/assets/loc-symbol.png" alt="location symbol">
            <p>Grafika No.2, Senolowo, Sinduadi, Kec. Mlati, Kabupaten Sleman, Daerah Istimewa Yogyakarta 55281</p>
        </div>
           <p>oncomammo@gmail.com</p>
    </div>
</footer>
</body>
</html>
