<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Source</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>

    <!-- Home Button -->
    <div class="home-button">
        <a href="web_html.html">&#x2190; Home</a>
    </div>

    <!-- Content Section -->
    <section class="source-content">
        <div class="image-card">
            <img src="static/assets/source_model_kaggle.png" alt="Breast Cancer Classification from Kaggle">
            <p>Breast Cancer Classification from Kaggle.com</p>
        </div>
        <div class="image-card">
            <img src="static/assets/source_dataset_kaggle.png" alt="Dataset from Kaggle">
            <p>Dataset from Kaggle.com</p>
        </div>
    </section>

    <!-- Footer -->
    <footer>
        <div class="footer-content">
            <div class="oncomammo-footer">
                <img src="static/assets/logo-oncomammo.png" alt="logo">
                <h3>ONCOMAMMO</h3>
            </div>
            <div class="address-footer">
                <img src="static/assets/loc-symbol.png" alt="location symbol">
                <p>Grafika No.2, Senolowo, Sinduadi, Kec. Mlati, Kabupaten Sleman, Daerah Istimewa Yogyakarta 55281</p>
            </div>
               <p>oncomammo@gmail.com</p>
        </div>
    </footer>

</body>
</html>
