<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Breast Cancer Detection</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>

    <!-- Navbar -->
    <nav>
        <div class="logo-navbar">
            <img src="static/assets/logo-oncomammo.png" alt="logo">
        </div>
        <ul class="nav-links">
            <li><a href="{{ url_for('routes.home') }}">Home</a></li>
            <li><a href="{{ url_for('routes.predict') }}">Cancer Detection</a></li>
            <li><a href="{{ url_for('routes.source') }}">Source</a></li>
            <li><a href="{{ url_for('routes.about') }}">About Us</a></li>
        </ul>
    </nav>

    <!-- Hero Section -->
    <section class="hero">
        <h1>BREAST CANCER DETECTION</h1>
        <a href="{{ url_for('routes.predict') }}" class="detect-button">Go to Detect</a>
        <div class="home-image">
            <img src="static/assets/breast_cancer_survivors.png" alt="Breast Cancer Survivors">
        </div>
    </section>

    <!-- Content Section -->
    <section class="content">
        <p>More women are diagnosed with breast cancer than any other cancer. Since 1990's, the number of women who have died of breast cancer has steadily decreased thanks to early detection and treatment improvements. Even if it is advanced breast cancer, new treatments can help many people with advanced breast cancer maintain a good quality of life with good disease control.</p>
        <p>Breast cancer is a disease in which abnormal breast cells grow out of control and form tumours. If left unchecked, the tumours can spread throughout the body and become fatal. Breast cancer cells begin inside the milk ducts and/or the milk-producing lobules of the breast. </p>
    </section>

    <!-- Signs and Symptoms Section -->
    <section class="signs-symptoms">
        <h2>Signs and symptoms</h2>
        <div class="page-line">
            <img src="static/assets/page_line.png">
        </div>
        <div class="symptoms-cards">
            <div class="signs-symptoms-1"><img src="static/assets/signs_symptoms_1.png" alt="signs and symptoms of breast cancer 1"></div>
            <div class="signs-symptoms-2"><img src="static/assets/signs_symptoms_2.png" alt="signs and symptoms of breast cancer 2"></div>
            <div class="signs-symptoms-3"><img src="static/assets/signs_symptoms_3.png" alt="signs and symptoms of breast cancer 3 "></div>
            <div class="signs-symptoms-4"><img src="static/assets/signs_symptoms_4.png" alt="signs and symptoms of breast cancer 4"></div>
            <div class="signs-symptoms-5"><img src="static/assets/signs_symptoms_5.png" alt="signs and symptoms of breast cancer 5"></div>
        </div>
    </section>

    <!-- Treatment Overview Section -->
    <section class="treatment-overview">
        <h2>Breast Cancer Treatment Overview</h2>
        <div class="page-line">
            <img src="static/assets/page_line.png">
        </div>
        <div class="treatment-cards">
            <div class="treatment-1"><img src="static/assets/treatment-1.png" alt="treatment card 1"></div>
            <div class="treatment-2"><img src="static/assets/treatment-2.png" alt="treatment card 2"></div>
            <div class="treatment-3"><img src="static/assets/treatment-3.png" alt="treatment card 3"></div>
            <div class="treatment-4"><img src="static/assets/treatment-4.png" alt="treatment card 4"></div>
            <div class="treatment-5"><img src="static/assets/treatment-5.png" alt="treatment card 5"></div>
            <div class="treatment-6"><img src="static/assets/treatment-6.png" alt="treatment card 6"></div>
            <div class="treatment-7"><img src="static/assets/treatment-7.png" alt="treatment card 7"></div>
        </div>
    </section>

    <!-- Footer -->
    <footer>
        <div class="footer-content">
            <div class="oncomammo-footer">
                <img src="static/assets/logo-oncomammo.png" alt="logo">
                <h3>ONCOMAMMO</h3>
            </div>
            <div class="address-footer">
                <img src="static/assets/loc-symbol.png" alt="location symbol">
                <p>Grafika No.2, Senolowo, Sinduadi, Kec. Mlati, Kabupaten Sleman, Daerah Istimewa Yogyakarta 55281</p>
            </div>
               <p>oncomammo@gmail.com</p>
        </div>
    </footer>

</body>
</html>